---
name: Request Server Verification
about: Request to Verify your Server
title: 'Verify Server [your_server_name]'
labels: Verification
assignees: amirhosseinf79

---

**Server Name:**
Enter your server name.

**Referrer:**
Who referred you to use bot?
